---
---

@import "{{ site.theme }}";

.social-media-list {
    display: flex;
}

.social-media-list li {
    width: 150px;
    color: rgb(73, 73, 73);
}

.social-media-list li + li {
    padding-top: 0;
}

.post-preview {
    // width: 300px;
}

.post-list {
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-list li {
    width: 350px;
}