---
---

@import "{{ site.theme }}";

.wrapper {
    padding-top: 15px;
    padding-bottom: 10px;
}

.social-media-list {
    display: flex;
}

.social-media-list li {
    width: 150px;
    color: rgb(73, 73, 73);
}

.social-media-list li + li {
    padding-top: 0;
}

.project-list {
    margin-left: 0;
    margin-bottom: 40px;
    padding: 40px;
    padding-top: 30px;
    padding-bottom: 30px;

    list-style: none;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.08);
    border-radius: 2px;

    display: flex;
    flex-wrap: wrap;
}

.project-link {
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.project-item {
    position: relative;
    margin-bottom: 30px;

    &:nth-child(3n+2),
    &:nth-child(3n+3) {
        margin-left: 30px;   
    }
}


.project-item-img {
    max-width: 200px;
    max-height: 166px;
}

.project-description {
    width: 170px;
    height: 120px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    display: none;

    color: #ffffff;
    background-color: rgba(41, 41, 41, 0.787);
}

.project-item:hover {
    .project-description {
        // display: block;
    }
}


.post-list {
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-list li {
    width: 350px;
}